.body{
    background-color: black;
    max-width:100px;

}
.container{
       width:calc(100% - 32px);
       max-width:var(--max-width);
       margin:0 auto;
       padding:20px 16px;

}
.container-inner{display:flex;align-items:center;justify-content:space-between}